.vlajka{
    margin: 300px 0px 0px 300px;
}

.black{
    width: 100px;
    height: 150px;
    background-color: black;
    display: inline-block;
}

.red{
    width: 100px;
    height: 150px;
    background-color: red;
    display: inline-block;
}

.yellow{
    width: 100px;
    height: 150px;
    background-color: yellow;
    display: inline-block;
}
