.logo{
    margin: 100px 0px 0px 100px;
}

.red{
    width: 100px;
    height: 100px;
    background-color:red;
    display: inline-block;
}

.green{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 0);
    display: inline-block;
}

.blue{
    width: 100px;
    height: 100px;
    background-color:rgb(7, 148, 243);
    display: inline-block;
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
}
