.semafor{
    width: 100px;
    height: 310px;
    margin-left: 300px;
    background-color: black;
    padding: 5px;
}

.red{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
}
    
.orange{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: orange;
    border-radius: 50%;
}

.green{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: greenyellow;
    border-radius: 50%;
}