#obr1 {
    display: none;
}

#obr2 {
    display: none;
}

#obr3 {
    display: none;
}

#obr4 {
    display: none;
}

#obr5 {
    display: none;
}

#obr6 {
    display: none;
}

#obr7 {
    display: none;
}

#obr8 {
    display: none;
}

#obr9 {
    display: none;
}

#obr10 {
    display: none;
}

#obr11 {
    display: none;
}

#obr12 {
    display: none;
}

#obr13 {
    display: none;
}

#obr14 {
    display: none;
}

#obr15 {
    display: none;
}
